@media screen and (max-width: 800px) {
  .form {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    max-height: 400px;

  }
    
  .nodisplay-mobile {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
    
  .hero-back {
        background: url('/img/hero-small.jpg') no-repeat; 
        background-size: 700px 448px;
  }
}

a[href^=tel] {
    color: inherit;
    text-decoration: none;
}

.hero-back {
        background: url('/img/hero.jpg') no-repeat; 
        background-size: cover;
}