@media screen and (max-width: 800px) {
  .form {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    height: 400px;
  }
}

@media screen and (min-width: 800px) {
  .hide-big {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}

a[href^=tel] {
    color: inherit;
    text-decoration: none;
}

.hero-back {
        background: url('/img/hero.jpg') no-repeat; 
        background-size: cover;
}