<table id="pricesTable">
   <tbody>
       <tr><th>TIPUL INTERVENȚIEI</th><th>PREȚ</th></tr>
       <tr><td>Consultație specialitate <br/> interpretare investigații / plan de tratament / deviz estimativ</td><td>100-150 lei</td></tr>

       <tr><th>IMPLANTOLOGIE</th><th></th></tr>
       <tr><td>Implant dentar AlphaBio (Israel)</td><td><del> 1900 lei</del><span> 1200 lei</span></td></tr>
       <tr><td>Implant dentar Bredent (Germania)</td><td><del> 2800 lei</del><span> 1900 lei</span></td></tr>
       <tr><td>Implant dentar Megagen (Corea)</td><td><del> 2800 lei</del><span> 1900 lei</span></td></tr>
       <tr><td>Implant dentar Sweden &amp; Martina (Italia)</td><td><del> 2800 lei</del><span> 1900 lei</span></td></tr>
       <tr><td>Implant dentar Nobel (SUA)</td><td><del> 4500 lei</del><span> 3300 lei</span></td></tr>

       <tr><td><b>Implanturile includ gratuit bonturile protetice si de vindecare clasice</b></td><td></td></tr>

       <tr><td><b>*</b></td><td></td></tr>

       <tr><td>Lifting de sinus fereastră externă (toate materialele incluse)</td><td>2500 lei</td></tr>
       <tr><td>Membrană resorbabilă</td><td>300 lei</td></tr>
       <tr><td>Membrană APRF/IPRF</td><td>200 lei</td></tr>
       <tr><td>Grefă gingie</td><td>700 lei</td></tr>
       <tr><td>Adiție de os</td><td>300 lei / dinte</td></tr>
      
      
       <tr><th>ORTODONTIE</th><th></th></tr>
       <tr><td>Aparat fix metalic / arcada</td><td><del> 2500 lei</del><span> 2000 lei</span></td></tr>
       <tr><td>Aparat fix ceramic / arcada</td><td><del> 3000 lei</del><span> 2500 lei</span></td></tr>
       <tr><td>Aparat fix safir / arcada </td><td><del> 3500 lei</del><span> 3000 lei</span></td></tr>

      
       <tr><th>TRATAMENTUL CARIEI DENTARE</th><th></th></tr>
       <tr><td>Obturație foto pe dinți frontali</td><td>250 lei</td></tr>
       <tr><td>Obturație foto pe dinți laterali</td><td>200 lei</td></tr>
       
       <tr><th>TRATAMENT ENDODONTIC</th><th></th></tr>
       <tr><td>Tratament de canal dinte monoradicular</td><td>300 lei</td></tr>
       <tr><td>Tratament de canal dinte pluriradicular</td><td>450 lei</td></tr>
       <tr><td>Tratamentul gangrenei pulpare dinte monoradicular (primă sedință)</td><td>150 lei</td></tr>
       <tr><td>Tratamentul gangrenei pulpare dinte pluriradicular (primă sedință)</td><td>250 lei</td></tr>
       <tr><td>Tratamentul gangrenei pulpare dinte monoradicular (sedință intermediară)</td><td>100 lei</td></tr>
       <tr><td>Obturație de canal</td><td>250 lei</td></tr>
       <tr><td>Re-tratament de canal dinte monoradicular</td><td>350 lei</td></tr>
       <tr><td>Re-tratament de canal dinte pluriradicular</td><td>500 lei</td></tr>
       <tr><td>Indepărtare pivot (metalic / sticlă)</td><td>150 lei</td></tr>

       
       <tr><th>CHIRURGIE</th><th></th></tr>
       <tr><td>Extracție dinți monoradiculari</td><td>150 lei</td></tr>
       <tr><td>Extracție dinti pluriradiculari</td><td>200 lei</td></tr>
       <tr><td>Extracție molari de minte</td><td>200 lei</td></tr>
       <tr><td>Extracție molari incluși/semi-incluși</td><td>400 lei</td></tr>
       <tr><td>Rezecție apicală</td><td>400-700 lei/dinte</td></tr>
       <tr><td>Chistectomie</td><td>600 lei</td></tr>
       
       <tr><th>PARODONTOLOGIE</th><th></th></tr>
       <tr><td>Imobilizarea dinților cu compozit + fibră de sticlă</td><td>50 lei/dinte</td></tr>
       <tr><td>Chiuretaj subgingival câmp inchis</td><td>50 lei/dinte</td></tr>
       <tr><td>Chiuretaj subgingival câmp deschis</td><td>100 lei/dinte</td></tr>
       <tr><td>Echilibrare ocluzală</td><td>200 lei/sedinta</td></tr>
       
       <tr><th>PROFILAXIE</th><th></th></tr>
       <tr><td>Detartraj cu ultrasunete + periaj profesional</td><td>200 lei</td></tr>
       <tr><td>Gutieră bruxism sau albire/arcadă</td><td>150 lei</td></tr>
       
       <tr><th>PROTETICĂ</th><th></th></tr>
       <tr><td>Coroană metalo-ceramică total fizionomică pe implant</td><td>700 lei</td></tr>
       <tr><td>Coroană Zirconiu total fizionomică pe implant</td><td><del>1200 lei</del><span> 850 lei</span></td></tr>
       <tr><td>Supra proteză pe implanturi (pe 2 implanturi tip capse)</td><td>2500 lei</td></tr>
       <tr><td>Supra proteză pe implanturi (pe 4 implanturi tip capse)</td><td>3000 lei</td></tr>
       <tr><td><b>*</b></td><td></td></tr>
       <tr><td>Coroană metalo-ceramică total fizionomică</td><td>600 lei</td></tr>
       <tr><td>Coroană Zirconiu total fizionomică</td><td><del>1000 lei</del><span> 750 lei</span></td></tr>
       <tr><td>Coroană integral ceramică total fizionomică</td><td>1000 lei</td></tr>
       <tr><td>Coroană acrilică</td><td>150 lei</td></tr>
       <tr><td>Coroană/fațetă provizorie</td><td>50-80 lei</td></tr>

       <tr><td><b>*</b></td><td></td></tr>
       <tr><td>Fațete dentare</td><td>1000 lei</td></tr>
       <tr><td><b>*</b></td><td></td></tr>
       <tr><td>Pivot metalic</td><td>200 lei</td></tr>
       <tr><td>Pivot fibră de sticlă</td><td>250 lei</td></tr>
       <tr><td>Ablație (tăiere coroană)</td><td>50 lei</td></tr>
       <tr><td><b>*</b></td><td></td></tr>
       <tr><td>Proteză totală/parțială acrilică</td><td>1500 lei</td></tr>
       <tr><td>Proteză scheletată cu sisteme speciale de retenție</td><td>3000 lei</td></tr>
       <tr><td>Proteză scheletată cu crosete turnate</td><td>2000 lei</td></tr>
       
       <tr><th>TRATAMENTE COPII</th><th></th></tr>
       <tr><td>Extracție dinți temporari</td><td>50-100 lei</td></tr>
       <tr><td>Obturație glassionomer</td><td>100 lei</td></tr>
       <tr><td>Obturație foto</td><td>150 lei</td></tr>
       <tr><td>Sigilare</td><td>100 lei</td></tr>
       
   </tbody>
</table>
