{% include doctype-head.html %}

<body data-spy="scroll" data-offset="80" data-target=".scrollspy">
    {% include svg-defs.svg %}
    <!--[if lt IE 10]>
        <p class="oldie">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> to better experience this site.</p>
    <![endif]-->

    {% if page.main %}
    <div id="top"></div>
    {% endif %}
    
    {% include header.html %}
 
        {{ content }}
           
    {% include footer.html %}
    
    {% if site.analytics %}
        {% include analytics.html %}
    {% endif %}
    


    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyBjpBjFh9xbRqw8jBS6vV4d53vlWpjDTpI"></script>
    <script src="{{ site.baseurl }}/js/all.min.js"></script>
    <script src="{{ site.baseurl }}/js/dent.js"></script>
    
    {% include facebook.html %}

    
    {% include clicky.html %}
</body>
</html>
